<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="greet.css">
    <title>Document</title>
</head>

<body>

    <div class="text-center">
    
        <h1>Greetings Webapp</h1>

        <div class="error">
            {{messages.error}}
        </div>
        
        <form action="/inputName/greetUser" method="POST">
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 form-group w-25">
                    <input type="text" name="name" class="form-control text-center" placeholder="Enter your name">
                </div>
            </div>


            <div class="">
                <strong>Counter:</strong>
                <span class="total"><span class="nameCounter">{{counter}}</span> </span>
            </div>

            <div class="" data-toggle="buttons">
                <label class="btn btn-primary" for="inlineRadio1">
                    <input type="radio" name="language" id="inlineRadio1" value="English" autocomplete="off">
                    English
                </label>
                <label class="btn btn-primary" for="inlineRadio2">
                    <input type="radio" name="language" id="inlineRadio2" value="IsiXhosa" autocomplete="off">
                    IsiXhosa
                </label>
                <label class="btn btn-primary" for="inlineRadio3">
                    <input type="radio" name="language" id="inlineRadio3" value="Afrikaans" autocomplete="off">
                    Afrikaans
                </label>
            </div>

            <div class="">
                <span>
                    <button class="btn btn-primary greetMeBtn" type="submit" name="add">Greet</button>

            </div>

            <div class="greetingOutputField">
                {{greet}}
            </div>

        </form>
        <br>
        <form action="/reset" method="POST">
        <button class="btn btn-primary resetBtn" type="submit" name="reset">Reset</button>
        </form>

    </div>

   

</body>

</html>