/**
*** SIMPLE GRID
*** (C) ZACH COLE 2016
**/

@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);

* {
  font-family: Impact;
  font-size: x-large;
  color: blue;
  line-height: 1.5;
}

body { 
  background: url('http://www.publicdomainpictures.net/pictures/50000/velka/flower-meadow.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.error{
  color: crimson;
  scroll-margin-bottom: 1em;
}

@media only screen and (min-width: 33.75em) {  /* 540px */
  .container {
    text-align: center; 
    /* width: 75%; */
    display: grid;
  }
}

@media only screen and (min-width: 45em) {  /* 720px */
  .container {
    text-align: center; 
    /* width: 80%; */
    display: grid;
  }
  
} 

@media only screen and (min-width: 60em) { /* 960px */
  .container {
    text-align: center; 
    /* width: 75%; */
    /* max-width: 60rem; */
    display: grid;
  }
}
